page-login {

    .Body{
        background-image: url("/assets/imgs/loginbackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    .loginBody{
        margin-top:38%;
        background-color: #fff;
        opacity: 0.9;
        border-radius: 4px;
    }
    
}
