page-login {

}
.scroll-content{
   
    
}
.Body{
    background-image: url("/assets/imgs/loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.loginBody{
    margin-top:38%;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 4px;
}
