<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <div class="title"><img src="assets/imgs/LTS-Name_Logo.png"></div>
      </ion-title>
  </ion-navbar>
</ion-header>


<!--Code for MenuToggle starts-->
<ion-menu [content]="content" id="menu1" >
  <ion-header>
      <!-- <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar> -->
      <div class="profileHeader">
        <div class="row">
            <h1>AR</h1>
        </div>
        <div class="row">
          <h3>Aqueel Rahman</h3>
        </div>
        
      </div>
    </ion-header>

  <ion-content >
    
    <ion-list>
        <button ion-item *ngIf="isValid" (click)="GotoSlots()">Manage Slots</button>
        <button ion-item *ngIf="isValid" (click)="GotoReports()">Reports</button>
        <button ion-item *ngIf="isValid" (click)="GotoNotifications()">Manage Notifications</button>
        <button ion-item>Log Out</button>
    </ion-list>
  </ion-content>
  
</ion-menu>


<ion-nav #content [root]="rootPage"></ion-nav>
<!--Code for Menu Toggle ends-->

<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>

