<ion-header>
    
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <div><img class="appLogo" src="assets/imgs/LTS-Name_Logo.png"></div>
      </ion-title>
  </ion-navbar>
</ion-header>


<!--Code for MenuToggle starts-->
<ion-menu [content]="content" id="menu1" >
  <ion-header>
      <!-- <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar> -->
      <div class="profileHeader">
        <div class="row avatar">
            <div>AR</div>
        </div>
        <div class="row avatarName">
          <div color="primary">{{(loggedInUserProfile) ? loggedInUserProfile.FirstName +' '+ loggedInUserProfile.LastName : ""}}</div>
        </div>
        
      </div>
    </ion-header>

  <ion-content >
    
    <ion-list>
        <button ion-item menu-close (click)="GotoHome()">Home</button>
        <button ion-item menu-close *ngIf="isValid" (click)="GotoSlots()">Manage Slots</button>
        <button ion-item menu-close *ngIf="isValid" (click)="GotoReports()">Reports</button>
        <!-- <button ion-item *ngIf="isValid" (click)="GotoNotifications()">Manage Notifications</button> -->
        <button ion-item menu-close (click)="GotoAbout()">About Us</button>
        <button ion-item menu-close (click)="GotoContact()">Contact</button>
        <button ion-item (click)="signOut()">Log Out</button>
    </ion-list>
  </ion-content>
  
</ion-menu>


<ion-nav #content [root]="homeRoot"></ion-nav>
<!--Code for Menu Toggle ends-->

<!-- <ion-tabs color="primary">
  <ion-tab [root]="homeRoot" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="aboutRoot" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="contactRoot" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs> -->

