.profileHeader{
    height: 200px;
    //background: linear-gradient(#118dfa,#fff);
    background-color: #C0C0C0;
    padding: 50px 0px;
}

.appLogo{
        /* margin: 0px auto; */
        left: 5%;
        position: relative;

}
ion-title{
    padding: 0% 40px 1px !important;
}

.profileHeader,.toolbar-background{
    background: linear-gradient(#3366cc,#FFF) !important;
}

.avatar{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    margin: 0px auto;
    display: block;
    font-size: 30px;
    padding: 20px 0px;
    background-color: #3366cc;
}

.avatarName{
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color:#3366cc;
}
.alert-wrapper{
    border-radius: 15px !important;
    .alert-head{
        padding:15px 10px !important;
        background: rgba(51,102,204,0.7);
    }
    
    .alert-message{
        padding: 10px 24px !important;
        color: #000 !important;
    }
    
    .alert-button-group{
        padding: 0px !important;
    }
}
