.profileHeader{
    height: 200px;
    //background: linear-gradient(#118dfa,#fff);
    background-color: #C0C0C0;
}

.appLogo{
        /* margin: 0px auto; */
        left: 25%;
        position: relative;
}
