<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    
  </ion-navbar>
</ion-header>

<ion-content>    
          <div class="locationName">Location: {{(locationName) ? locationName : ""}}</div>
             
         

          <img class="nboffice" *ngIf="(locationName)?locationName.indexOf('Northbrook') > -1 : false" src="../../assets/imgs/chicago/office-building.png">
                <!-- <div class="nbParkingLayout"> -->
                    <div [ngClass]="(parkingDivisionsViewModels != undefined && parkingDivisionsViewModels.length > 0) ? parkingDivisionsViewModels[0].LocationDesignAttribute : 'LtsParkingLayout'">
                  <div class="genericDivisionLayout" *ngFor="let division of parkingDivisionsViewModels">
                      <div class="divisionName">{{(division.Name)}}</div>
                      
                      <div class="parkingArea" *ngFor="let parkingSlot of division.ParkingSlots" 
                          [ngClass]="(parkingSlot.IsOccupied)?'slotOccupied':'slotAvailable'"                   
                          [ngClass]="(parkingSlot.IsActive)?'slotUnavailable':''" 
                          (click)="showSlotDetailsModalPopup($event)" [attr.data-slotid]="(parkingSlot.Id)" 
                          [attr.data-companymatches]="(parkingSlot.CompanyId == currentUserCompanyId)"                  
                          [attr.data-slot-type]="(parkingSlot.Type)">
                          <div class="slotNumber">{{(parkingSlot.Id)}}</div>     
                      </div>
                      
                  </div>
                  
                </div>
        
                
        
        
        
</ion-content>
