<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="ltsLogoArea">
          <img src="assets/imgs/LTS-Name_Logo.png">
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="parkingSlotLeftArea">
        <div class="parkingArea" *ngFor="let parkingSlot of parkingSlots" [ngClass]="(parkingSlot.IsOccupied)?'slotOccupied':''" (click)="selectSlotToOccupy($event)" [attr.data-slot-id]="(parkingSlot.Id)">
          {{parkingSlot.Name}}            
        </div>
    </div>
    <div class="parkingSlotRightArea">
        <div class="parkingArea" *ngFor="let parkingSlot of parkingSlots" [ngClass]="(parkingSlot.IsOccupied)?'slotOccupied':''" (click)="selectSlotToOccupy($event)" [attr.data-slot-id]="(parkingSlot.Id)">
            {{parkingSlot.Name}}            
          </div>
    </div>
</ion-content>
