<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="title">Manage Slots</div>
        </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
        <div id="divManageParkingArea" class="accordion vertical">
                <ul>
                    <li>
                        <input type="radio" id="radio-1" name="radio-accordion" checked="checked" />
                        <label for="radio-1">Title&nbsp;One</label>
                        <div class="content">
                            <form [formGroup]="addSlotForm" (submit)="saveParkingSlot($event)">                                
                                <ion-item>
                                    <ion-label>Location</ion-label>
                                    <ion-select [(ngModel)]="locationId" (ionChange)="PopulateCompanyForLocation($event)" formControlName="locationId" required>
                                            <ion-option [value]="0">Select Location</ion-option>
                                            <ion-option *ngFor="let location of parkingLocations" [value]="location.Id">{{location.Name}}</ion-option>
                                          </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Company</ion-label>
                                    <ion-select [(ngModel)]="companyId" (ionChange)="PopulateLocationDivisions($event)" [disabled]="locationId==0" formControlName="companyId" aria-required="true">
                                            <ion-option [value]="0">Select Company</ion-option>
                                            <ion-option *ngFor="let company of locationCompanies" [value]="company.Id">{{company.Name}}</ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                <ion-label>Parking Division</ion-label>
                                <ion-select [disabled]="companyId==0" [(ngModel)]="parkingDivisionId" formControlName="parkingDivisionId" aria-required="true">
                                        <ion-option [value]="0">Select Parking Division</ion-option>
                                        <ion-option *ngFor="let division of parkingDivisions" [value]="division.Id">{{division.Name}}</ion-option>
                                </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Slot Name</ion-label>
                                    <ion-input  [(ngModel)]="slotName"  maxlength="4" placeholder="Enter slot name" [disabled]="parkingDivisionId==0" formControlName="slotName" type="text" required></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Slot Type</ion-label>
                                    <ion-select [(ngModel)]="slotType" formControlName="slotType" [disabled]="slotName==''" required>
                                            <ion-option [value]="-1">Select Slot Type</ion-option>
                                            <ion-option [value]="0">Two wheeler</ion-option>
                                            <ion-option [value]="1">Four wheeler</ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    
                                        <p *ngIf="locationId==0" [class.hide]="locationId==0"  >* Username is required</p>
                                        <!-- <p ng-show="myForm.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
                                        <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
                                        <p ng-show="myForm.password.$error.required">* Password is required</p>
                                        <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p> -->
                                    
                            
                                </ion-item>
                                <ion-item>
                                    <button ion-button type="submit" [disabled]="!addSlotForm.valid || slotType == -1">Add Slot</button>
                                </ion-item>
                            </form>
                            <ion-item *ngIf="slotFormValidationMessage.length > 0">
                                <ion-label class="danger" name="slotFormValidationMessage">
                                    {{slotFormValidationMessage}}
                                </ion-label>
                            </ion-item>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="radio-2" name="radio-accordion" />
                        <label for="radio-2">Title&nbsp;Two</label>
                        <div class="content">
                              </div>
                    </li>
                    <li>
                        <input type="radio" id="radio-3" name="radio-accordion" />
                        <label for="radio-3">Title&nbsp;Three</label>
                        <div class="content">
                            </div>
                    </li>
                    <li>
                        <input type="radio" id="radio-4" name="radio-accordion" />
                        <label for="radio-4">Title&nbsp;Four</label>
                        <div class="content">
                             </div>
                    </li>
                </ul>
            </div>
</ion-content>